* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: url("../img/bg.png") no-repeat;
  background-size: 100% 100%;
  height: 100%; 
}

#show {
  width: 100%;
  margin: 0 auto;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
#show .title {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%; 
  background: url("../img/header.png") no-repeat top center;
  background-size: 98% 100%;
  text-align: center;
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#show .title h1 {
  margin: 10px 0;
  font-size: 26px;
  font-weight: bold;
  color: #00ccff;
}
#show .left {
  width: calc(70% - 30px);
  margin: 120px 10px 10px 20px;
  position: relative;
}
#show .right {
  width: calc(30% - 30px);
  overflow: hidden;
  margin: 120px 20px 10px 10px;
  position: relative;
}
#show .left .time{
  position: absolute;
  z-index: 999;
  width: calc(100% - 4px);
  height: 31px;
  padding: 5px 0;
  color: #fff;
  top: -31px;
  left: 2px;
  font-size: 16px;
}
#show .left .time span{
  margin-right: 10px;
}
#show .left .top {
  width: 100%;
  height: 75%;
  background: url("../img/leftBox.png") no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.top .video {
  width: calc(100% - 20px);
  height: calc(100% - 60px);
  background: url("../img/videoBox.png") no-repeat;
  background-size: 100% 100%;
  margin: 50px 0 0 10px;
  overflow: hidden;
  position: relative;
  z-index: 201;
}
.h5container {
  width: 99%;
  height: 98%;
  margin:0.5% auto;
}
.h5video {
  width: 100%;
  height: 100%;
}
#show .left .state,#show .right .state{
  position: absolute;
  z-index: 999;
  width: calc(100% - 4px);
  height: 31px;
  padding: 10px 0;
  color: #00ccff;
  top: 0;
  left: 2px;
  font-size: 20px;
  text-align: center;
}
#show .left .set{
  padding: 6px 0 0 20px;
}
#show .left .set .ant-form-item-label label{
  color:#fff;
}
#show .left .set .ant-form-inline .ant-form-item{
  margin-right: 30px;
}

#show .left .bottom {
  width: 100%;
  height: 25%;
  background: url("../img/bottomBox.png") no-repeat;
  background-size: 100% 100%;
  overflow-x: hidden;
  position: relative;
}
#show .left .bottom .list {
  padding: 50px 0px 0 20px;
  margin-bottom: 0;
}

#show .left .bottom .list li {
  position: relative;
  background-color: #2a4d9c;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
}
#show .left .bottom .list li.err{
  background-color: rgba(227, 36, 36, 0.6);
}
#show .left .bottom .list li:first-child {
  margin-left: 0;
}
#show .left .bottom .list li:last-child {
  margin-right: 0;
}
#show .left .bottom .list li img {
  width: 90%;
  height: 90%;
  margin: 5%;
}
#show .left .bottom .list li span,
#show .right ul li .shoot span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 0;
  color: #fff;
}
#show .left .bottom .list li span.err {
  background: rgba(227, 36, 36, 0.6);
}
#show .right{
  overflow: hidden;
  background: url("../img/rightBox.png") no-repeat;
  background-size: 100% 100%;
}
#show .right .box {
  overflow: hidden;
  margin-top: 40px;
}
/* #show .right ul.list {
  overflow: auto;
} */

#show .right ul li {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 20px 20px;
  position: relative;
}
#show .right ul li .shoot {
  width: 33%;
  position: relative;
  background-color: #2a4d9c;
}
#show .right ul li .shoot img {
  width: 90%;
  height: 90%;
  margin: 5%;
}
#show .right ul li .mid {
  width: 33%;
  text-align: center;
  color: #00fcff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  font-size: 24px;
}
#show .right ul li .mid .cont {
  height: 100%;
  display: inline-block;
  position: relative;
}
#show .right ul li .mid .cont img {
  height: 90%;
  margin-top:5%
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
#show .right ul li .mid .cont img {
  animation: rotation 20s linear infinite;
}
#show .right ul li .mid .cont span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  font-size: 20px;
  text-align: center;
}
#show .right ul li .mid span {
  height: 27px;
  line-height: 27px;
}

div[name='flex'] {
  display: flex;
  border-bottom: 0px !important;

}

div[name='flex']+[name='flex'] {
  border-left: 0px !important;
}

#videoPanel>div:nth-last-child(2) {
  border-bottom: 1px solid rgb(22, 22, 22) !important;
}


#videoPanel:-webkit-full-screen {
  background-color: rgb(73, 74, 75) !important;
display: block;
width: 100%;
  height: 100%;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
  top: 0;
  left: 0;
  padding: 0px;
box-shadow: 0px 0px 50px #000;
}


#videoPanel:-moz-full-screen {
  background-color: rgb(73, 74, 75) !important;
display: block;
width: 100%;
  height: 100%;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
  top: 0;
  left: 0;
  padding: 0px;
box-shadow: 0px 0px 50px #000;
}

div[name="flex"]:hover {
  /*background-color: #3c8dbc;*/
  cursor: pointer;
}

.videoClickColor {
  background-color: #616263 !important;
  opacity: 0.80;
}

.videoColor {
  background-color: rgb(73, 74, 75) !important;
}